@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TodoList{
    width: 40vw;
    height: 80vh;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 40px;
    padding: 20px;
}

#TodoHead{
    display: flex;
    justify-content: space-between;
}

#logo{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: 'Carter One', cursive;
}

#AddTaskBtn{
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

#AddTaskBtn:focus {
    outline: none;
}
#AddTaskBtn:active {
    transform: scale(0.98);
}

#taskAdd{
    border-radius: 5px;
    outline: 0px;
    width: 97%;
    padding: 10px;
    margin-top: 15px;
    border: solid 1px #E5E5E5;
    display: none;
}

#Tasks{
    margin-top: 15px;
    max-height: 70vh;
    overflow-y: auto;
}

.task{
    height: 80px;
    padding-top: 1px;
    padding-left: 20px;
    color: #fff;
    background-color: #393e46;
    
    border-radius: 5px;
    margin-bottom: 10px;
    line-height: 15px;
    border-left: 5px solid green;
}

h2{
    letter-spacing: 2px;
    font-size: 20px;
}

.actions{
    padding: 20px;
    float: right;
    display: flex;
    justify-content: space-between;
}

.fa-clipboard-check{
    color: #a7d129;
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
}

.fa-trash-alt{
    color: #ee4540;
    font-size: 24px;
    cursor: pointer;
}